{% macro form_control(name, label='', trans='') %}
  <div class="form-group">
    <label for="{{ name }}">{{ label }}</label>
      {{ caller() }}
      {{ trans_disp(trans=trans, field=name) }}
  </div>
{%- endmacro %}


{%- macro input(name, id='', label='', value='', placeholder='', trans='') %}
{% call form_control(name=name, label=label, trans=trans) -%}
    <input id="{{ id or name }}" class="form-control" type="text" name="{{ name }}" value="{{ value|sn }}" placeholder="{{ placeholder }}" />
{%- endcall %}
{%- endmacro %}


{%- macro checkbox(name, id='', label='', value='') %}
  <div class="checkbox">
    <label>
<input id="{{ id or name }}" type="checkbox" name="{{ name }}" value="True" {% if value %}checked{% endif %} />
{{ label }}
  </label>
</div>
{%- endmacro %}


{%- macro textarea(name, id='', label='', value='', placeholder='', trans='') %}
{% call form_control(name=name, label=label, trans=trans) -%}
    <textarea id="{{ id or name }}" class="form-control" name="{{ name }}" placeholder="{{ placeholder }}" >{{ value|sn }}</textarea>
{%- endcall %}
{%- endmacro %}


{% macro dropdown(name, id='', label='', value='', options=[]) %}
{% call form_control(name=name, label=label) %}
    <select id="{{ id or name }}" class="form-control" type="text" name="{{ name }}" value="{{ value }}" }} >
      {% for o in options %}
        <option value="{{ o.value }}" {% if value==o.value %}selected="selected" {% endif %}>{{ o.name }}</option>
      {% endfor %}
    </select>
{% endcall %}
{% endmacro %}


{% macro submit(name='', id='', label='Submit', value='') %}
      <button type="submit" class="btn btn-primary pull-right" value="" />
{{ label|sn }}
    </button>
{% endmacro %}


{% macro action(label='', url='', method='POST', class='', onsubmit='') %}
<form method="{{ method }}" action="{{ url }}" style="display:inline" onsubmit="{{ onsubmit }}">
    <input class="btn btn-default btn-sm {{ class }}" class="form-control" type="submit" class="btn" value="{{ label|sn }}" />
  </form>
{% endmacro %}


{% macro action_link(label='', url='', icon='') %}
<a class="btn btn-default btn-sm " role="button" href="{{ url }}">
  {% if icon %}<span class="glyphicon glyphicon-{{ icon }}"></span> {% endif %}
  {{ label }}</a>
{% endmacro %}

{% macro trans_disp(trans, field) %}
  {% if trans %}
    <div>{{ trans[field] }}</div>
  {% endif %}
{% endmacro %}


{% macro code_list(data) %}
  <ul>
    {% for cat in data %}
      {% if cat.active %}
        <li>{{ cat.title }}</li>
        <ul>
          {% for code in cat.codes %}
            {% if code.active %}
              <li><input type="checkbox" name="{{ code.code }}" /> {{ code.title }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </ul>
{% endmacro %}
