{% macro form_control(name, label='', trans='', safe=false) %}
  <div class="row alert alert-null">
    {% if trans %}
      {{ trans_disp(trans=trans, field=name, label=label, safe=safe) }}
    <div class="col-xs-12 col-md-6">
      {% else %}
    <div class="col-xs-12">
      {% endif %}
  <div class="form-group">
    {% if label %}
    <label for="{{ name }}">{{ label }}
      {% if trans %} <small>({{ get_admin_lang() }})</small>{% endif %}
    </label>
    {% endif %}
    {{ caller() }}
  </div>
  </div>
  </div>
{%- endmacro %}


{%- macro input(name, id='', label='', value='', placeholder='', trans='') %}
{% call form_control(name=name, label=label, trans=trans) -%}
    <input id="{{ id or name }}" class="form-control" type="text" name="{{ name }}" value="{{ value|sn }}" placeholder="{{ placeholder }}" />
{%- endcall %}
{%- endmacro %}


{%- macro password(name, id='', label='', value='', placeholder='', trans='') %}
{% call form_control(name=name, label=label, trans=trans) -%}
    <input id="{{ id or name }}" class="form-control" type="password" name="{{ name }}" value="{{ value|sn }}" placeholder="{{ placeholder }}" />
{%- endcall %}
{%- endmacro %}


{%- macro checkbox(name, id='', label='', value='') %}
{% call form_control(name=name, label='', trans=trans) -%}
  <div class="checkbox">
    <label>
<input id="{{ id or name }}" type="checkbox" name="{{ name }}" value="True" {% if value %}checked{% endif %} />
{{ label }}
  </label>
</div>
{%- endcall %}
{%- endmacro %}


{%- macro ckeditor(name, id='', label='', value='', placeholder='', trans='') %}
{% call form_control(name=name, label=label, trans=trans, safe=true) -%}
    <textarea id="{{ id or name }}" class="form-control" name="{{ name }}" placeholder="{{ placeholder }}" >{{ value|sn }}</textarea>
{%- endcall %}
{%- endmacro %}


{%- macro textarea(name, id='', label='', value='', placeholder='', trans='') %}
{% call form_control(name=name, label=label, trans=trans) -%}
    <textarea id="{{ id or name }}" class="form-control" name="{{ name }}" placeholder="{{ placeholder }}" >{{ value|sn }}</textarea>
{%- endcall %}
{%- endmacro %}


{% macro dropdown(name, id='', label='', value='', options=[]) %}
{% call form_control(name=name, label=label) %}
    <select id="{{ id or name }}" class="form-control" type="text" name="{{ name }}" value="{{ value }}" }} >
      {% for o in options %}
        <option value="{{ o.value }}" {% if value==o.value %}selected="selected" {% endif %}>{{ o.name }}</option>
      {% endfor %}
    </select>
{% endcall %}
{% endmacro %}


{% macro submit(name='', id='', label='Submit', value='') %}
{% call form_control(name=name, label='') %}
      <button type="submit" class="btn btn-primary pull-right" value="" />
{{ label|sn }}
    </button>
{% endcall %}
{% endmacro %}


{% macro action(label='', url='', method='POST', class='', onsubmit='', icon='') %}
<form method="{{ method }}" action="{{ url }}" style="display:inline" onsubmit="{{ onsubmit }}">
  {# <input class="btn btn-default btn-sm {{ class }}" class="form-control" type="submit" class="btn" value="{{ label|sn }}" />
  #}
  <button type="submit" class="btn btn-default btn-sm {{ class }}" value="" />
  {% if icon %}<span class="glyphicon glyphicon-{{ icon }}"></span> {% endif %}
{{ label|sn }}
    </button>
  </form>
{% endmacro %}


{% macro action_link(label='', url='', icon='', class='') %}
<a class="btn btn-default btn-sm {{ class }}" role="button" href="{{ url }}">
  {% if icon %}<span class="glyphicon glyphicon-{{ icon }}"></span> {% endif %}
  {{ label }}</a>
{% endmacro %}

{% macro trans_disp(trans, field, label, safe) %}
  {% if trans %}
      <div class="col-xs-12 col-md-6">
        <div class="form-group">
          <label>{{ label|sn }} <small>(En)</small></label>
          <div class="display-en">
            {% if safe %}{{ trans[field]|safe }}{% else %}{{ trans[field] }}{% endif %}
          </div>
        </div>
    </div>
  {% endif %}
{% endmacro %}


{% macro code_list(data) %}
  <ul>
    {% for cat in data %}
      {% if cat.active %}
        <li>{{ cat.title }}</li>
        <ul>
          {% for code in cat.codes %}
            {% if code.active %}
              <li><input type="checkbox" name="{{ code.code }}" /> {{ code.title }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </ul>
{% endmacro %}



{% macro translations_bar(trans={}) %}
  {% if has_perm('translator') %}
    <div class="col-xs-12 col-md-12 clearfix">
      <ul id="" class="nav nav-tabs nav-justified" data-tabs="" role="tablist">
    {% for code, lang, dir in lang_list() %}
      {% set state = get_trans_state(trans[code]) %}
      {% set active = (get_admin_lang() == code) %}
      <li class="{% if active %}active {% endif %}{{ state }}">
        <a href="?lang={{ code }}" {% if active %} data-toggle="tab"{% endif %}>
          {% if state == '' %}
            <span class="glyphicon glyphicon-ok"></span>
          {% elif state == 'old-translation' %}
            <span class="glyphicon glyphicon-refresh"></span>
          {% else %}
            <span class="glyphicon glyphicon-ban-circle"></span>
          {% endif %}
          <span lang="{{ code }}" dir="{{ dir }}">{{ lang }}</span></a>
        </li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}
