{% extends 'body_base.html' %}

{% block title %}{{ _('Authenticaton') }}{% endblock %}


{% block user_bar %}{% endblock %}

{% block container_class %}login-content{% endblock %}

{% block content %}
        <h1>{{ _('Authenticaton') }}<br /><br /></h1>

        <div class="row col-xs-12 col-md-4 col-md-offset-4 blue-left-border hrd-padded-20 red-panel-bkg login-form">
            <p>{{ _('Enter your six digit validation code')}}</p>
            {% if error %}
            <p>{{ error }}</p>
            {% endif %}
            <form role="form" method="POST">

            <div class="form-group">
                <label for="name">{{ _('Verification Code') }}</label>
                <input id="code" class="form-control" name="code" type="text">
            </div>
            <button type="submit" class="btn btn-primary pull-right" value="">
                {{ _('Continue') }}
            </button>
            <button type="submit" class="btn btn-default" value="cancel" name="cancel">
                {{ _('Cancel') }}
            </button>
            </form>
        </div>
{% endblock %}
