{% extends 'body_base.html' %}

{% block title %}{{ _('Login') }}{% endblock %}


{% block user_bar %}{% endblock %}

{% block container_class %}login-content{% endblock %}

{% block content %}
        <h1>{{ _('Log in') }}<br /><br /></h1>
        <div class="row col-xs-12 col-md-4 col-md-offset-4 blue-left-border hrd-padded-20 red-panel-bkg login-form"><form role="form" method="POST">
            <div class="form-group">
                <label for="name">{{ _('Username') }}</label>
                <input id="name" class="form-control" name="name" type="text">
            </div>
            <div class="form-group">
                <label for="password">{{ _('Password') }}</label>
                <input id="password" class="form-control" name="password" type="password">
            </div>
            <button type="submit" class="btn btn-primary pull-right" value="">
                {{ _('Log in') }}
            </button>
            <div class="form-group">
                <a href="{{ url_for('reset_request') }}" style="color:#163F92">{{ _('Forgot password') }}</a>
            </div>
            </form>
        </div>
{% endblock %}
