{% extends 'body_base.html' %}

{% import '/macro/form.html' as form %}

{% block title %}{{ _('Login') }}{% endblock %}


{% block user_bar %}{% endblock %}

{% block container_class %}login-content{% endblock %}

{% block content %}
        <h1>{{ _('Log in') }}<br /><br /></h1>
        <div class="row col-xs-12 col-md-4 col-md-offset-4 blue-left-border hrd-padded-20 red-panel-bkg login-form"><form role="form" method="POST">
            <div class="form-group">
                {{ form.input('name', label=_('Username'), value=username) }}
            </div>
            <div class="form-group">
                {{ form.input('password', label=_('Password')) }}
            </div>
            {{ form.submit(label=_('Log in')) }}
            </form>
        </div>
{% endblock %}
