{% extends 'body_base.html' %}

{% block title %}{{ _('Request Password Reset') }}{% endblock %}


{% block user_bar %}{% endblock %}

{% block container_class %}login-content{% endblock %}

{% block content %}
        <h1>{{ _('Request Password Reset') }}<br /><br /></h1>
        <div class="row col-xs-12 col-md-4 col-md-offset-4 blue-left-border hrd-padded-20 red-panel-bkg login-form"><form role="form" method="POST">
                <p>{{ _('Enter you username and we will send you an email to reset your password') }}</p>
            <div class="form-group">
                <label for="name">{{ _('Username') }}</label>
                <input id="name" class="form-control" name="name" type="text">
            </div>
            <button type="submit" class="btn btn-primary pull-right" value="">
                {{ _('Request Reset') }}
            </button>
            </form>
        </div>
{% endblock %}
