{% extends 'body_base.html' %}

{% from "user/macros.html" import horizontal_field %}

{% block title %}{{ _('Authenticaton') }}{% endblock %}


{% block user_bar %}{% endblock %}

{% block container_class %}login-content{% endblock %}

{% block content %}
        <h1>{{ _('Set Password') }}<br /><br /></h1>

        <div class="row col-xs-12 col-md-4 col-md-offset-4 blue-left-border hrd-padded-20 red-panel-bkg login-form">

        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
        <form class="form-horizontal" role="form" method="POST">
            <div class="form-group">
                <label for="name">{{ _('Password') }}</label>
                <input id="password" class="form-control" name="password1" type="password">
            </div>
            <div class="form-group">
                <label for="name">{{ _('Confirm password') }}</label>
                <input id="password" class="form-control" name="password2" type="password">
            </div>
            <button type="submit" class="btn btn-primary pull-right" value="">
                {{ _('Set Password') }}
            </button>
            </form>
    </div>
</form>
{% endblock %}
