<!DOCTYPE html>
<html {{ lang_html()|safe }}>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {# FIXME pull this int hrd #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {# <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" > #}
  </head>
  <body>

{% block user %}
      {% set user = get_username() %}
      {% if user %}
      {{ user }}
        <a href="{{ url_for('logout') }}">{{ _('log out') }}</a>
        <a href="{{ url_for('user_edit', id=request.user.id) }}">{{ _('edit profile') }}</a>
      {% else %}
        <a href="{{ url_for('login') }}">{{ _('log in') }}</a>
      {% endif %}
      {% if has_perm('content_manage') %}
        <a href="{{ url_for('content') }}">{{ _('Content') }}</a>
      {% endif %}
      {% if has_perm('translator') %}
        <a href="{{ url_for('translation') }}">{{ _('Translations') }}</a>
      {% endif %}
{% endblock %}

{% block menu %}
{% endblock %}
    <div class="container">
{% block content %}{% endblock %}
    </div>

{% block footer %}
<ul>{{ _('Language:') }}
<span>
  {% for code, lang, dir in lang_list() %}
  <li><a href="{{ lang_pick(code) }}" lang="{{ code }}" dir="{{ dir }}">{{ lang }}</a></li>
  {% endfor %}
</span>
  </ul>
{% endblock %}
  </body>
</html>
