{% extends 'html_base.html' %}

{% block page %}
<!-- Header begins =============================================== -->
<div class="header container red-left-border">
    <div class="row">
        <div class="hrd_logo col-xs-5 col-sm-3 col-md-2">
            <a href="{{ url_for('cms_page2') }}"><img width="auto" height="130" src="/static/images/hrd_logo_163x130_Alt_RedBlue.png" alt=""></a>
        </div>
        <div class="col-xs-7 col-sm-6 col-md-6">
            <h3 class="sitetitle">{{ _('Global Platform for the Temporary Relocation of Human Rights Defenders') }}<br />
                {#    <small class="sitesubtitle">{{ _('Support organizations’ program') }}</small> #}
            </h3>
        </div>
        {% block eu_logo %}
        <div class="eu_logo hidden-xs col-sm-3 col-md-3 pull-right">
            <a href="#"><img width="auto" height="130" src="/static/images/EC_logo_173x130.jpg" alt=""></a>
        </div>
        {% endblock %}
    </div>
<!-- Nav begins =============================================== -->
    <div class="navbar-header container">
         <button type="button" class="sm-only navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
    </div>
    <div class="navbar-collapse collapse">
        <div class="navbar navbar-default navbar-static-top col-md-12 container" role="navigation">
            <div id="menu-wrapper container">

{% block menu %}
    <ul class="navbar-nav nav-mega">
        {% for m in get_menu_items(current_lang()) %}
          {% set logged_in = get_user_id() %}
          {% if not m.private or logged_in %}
            {% if m.item == 'orgs' %}
              {{ menu_item(m.title, url_for('org_search')) }}
            {% elif m.item == 'res' %}
              {{ menu_item(m.title, '#') }}
            {% elif m.item == '/' %}
              {{ menu_item(m.title, url_for('cms_page2')) }}
            {% else %}
              {{ menu_item(m.title, url_for('cms_page2', id=m.item[1:])) }}
            {% endif %}
          {% endif %}
        {% endfor %}

    {% block user_bar %}
        {{ user_menu() }}
    {% endblock %}
{% endblock %}

</div></div></div>
<!-- /Nav ends =============================================== -->
</div>
<!-- /Header ends =============================================== -->

<div class="container {% block container_class %}{% endblock %}">
    <div class="panel col-xs-12">
        {% block content %}
        {% endblock %}
    </div>
</div>

<!-- Footer begins ========================================== -->
<div class=" container footer">
    <div class="panel panel-default">
        <div class="panel-body grey-bottom-border">
            <div class="footer-third-col col-xs-12 col-md-7">

                {% block langSwitch %}
                <div class="footer-language-switch">
                    <ul class="list-inline">
                        <h4>{{ _('Languages') }}</h4>
                        {% for code, lang, dir, active in lang_list()%}
                        {% if active %}
                        <li class="{% if loop.index == 1 %}first{% elif loop.index == loop.length %}last{% endif %}{% if code==current_lang() %} active{% endif %}"><a href="{{ lang_pick(code) }}" lang="{{ code }}" dir="{{ dir }}">{{ lang }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% endblock %}

            </div>
        </div>
    </div>
</div>
<!-- /Footer ends ========================================== -->


{% endblock %}
