<!DOCTYPE html>

{%- macro menu_item(text, href, force_right=false, content='', class='', icon='') %}
  <li{{ menu_class(href, force_right, class)|safe }}>
  <a href="{{ href }}">
    {% if icon %}<span class="glyphicon glyphicon-{{ icon }}"></span>{% endif %}
    {{ text }}{% if content %}<span class="caret"></span>{% endif %}</a>
  {{ content|safe }}</li>
{%- endmacro -%}

{#
          sub_menu_item(_('My details'), url_for('user_edit', id=get_user_id()), force_right=true) +
#}
      {% set user = get_username() %}
{%- macro user_menu(show_extras=true) %}
      {% if user %}
        {% set my_content = '<div>' +
          sub_menu_item(_('Log out'), url_for('logout'), force_right=true) +
          sub_menu_item(_('My account'), url_for('user_my_profile'), force_right=true) +
          '</div>' %}
        {{ menu_item(user, '#', force_right=true, content=my_content, class='logged-in', icon='user') }}

        {{ menu_item(_('Message board'), url_for_fixed('/forum'), force_right=true) }}
      {% if show_extras %}
        {% if has_perm('content_manage') or has_perm('user_manage') or has_perm('translator') %}
        {% set my_content = '<div>' %}
          {% if has_perm('content_manage') or has_perm('translator') %}
            {% set my_content = my_content +
            sub_menu_item(_('Content'), url_for('admin'), force_right=true)
            %}
          {% endif %}
          {% if has_perm('user_manage') %}
            {% set my_content = my_content +
            sub_menu_item(_('Users'), url_for('user_manage'), force_right=true)
            %}
          {% endif %}
          {% if has_perm('forum_admin') %}
            {% set my_content = my_content +
            sub_menu_item(_('Message board'), url_for_fixed('/forum/admin/forums'), force_right=true)
            %}
          {% endif %}
            {% set my_content = my_content + '</div>' %}
            {{ menu_item(_('Admin'), '#', force_right=true, content=my_content) }}
        {% endif %}
        {% endif %}
      {% else %}
        {{ menu_item(_('Log in'), url_for('login'), force_right=true) }}
      {% endif %}
                </ul>
{%- endmacro -%}

<html {{ lang_html()|safe }}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/images/favicon.ico">

    <title>{{ _('EU Human Rights Defenders') }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/hrd_styles.css" rel="stylesheet">
        <link rel="stylesheet" href="/forum/_themes/hrd/css/flaskbb.css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--[if IE 10]>
    <script src="/static/assets/js/ie10-viewport-bug-workaround.js"></script>
    <![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.min.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->

    <!-- details-shim for IE/FF -->
    <link href="/static/css/details-shim.css" rel="stylesheet">
    <script src="/static/js/details-shim.js"></script>
  </head>

  <body class="{{ lang_html_body() }} {% block body_class %}{% endblock %}">
      {% block page %}

      {% endblock %}
    {# FIXME no cdn #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
