{% extends 'body_base.html' %}

{% import '/macro/form.html' as form %}

{% block title %}{{ page.title }}{% endblock %}

{% block container_class %}content{% endblock %}

{% block content %}

            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <h1>{{ page.title }}<br /><br /></h1>
                      {{ page.content|safe }}
                </div>
                <div class="col-sm-12 col-md-4">
                    <img src="/static/images/panos_00186767_283x271px.jpg" width="100%" height="auto" class="homepage_image blue-left-border" alt="homepage_image">
                </div>
            </div>
{% endblock %}
