      {% set user = get_username() %}

      {% if user %}
        {% set my_content = '<div>' +
          sub_menu_item(_('Log out'), url_for('logout'), force_right=true) +
          sub_menu_item(_('My details'), url_for('user_edit', id=get_user_id()), force_right=true) +
          '</div>' %}
        {{ menu_item(user, '#', force_right=true, content=my_content) }}
        {{ menu_item(_('Message board'), '#', force_right=true) }}
        {% if has_perm('translator') %}
            {{ menu_item(_('Admin'), url_for('admin'), force_right=true) }}
        {% endif %}
      {% else %}
        {{ menu_item(_('Log in'), url_for('login'), force_right=true) }}
      {% endif %}
                </ul>
