{% extends 'body_base.html' %}

{% import '/macro/form.html' as form %}

{% block body_class %} class="admin"{% endblock %}

{% block eu_logo %}
    <div class="hidden-xs col-sm-3 admin-title pull-right">
        <h3>Admin Area</h3>
    </div>
{% endblock %}

{% block menu %}
    <ul class="navbar-nav nav-mega">
        {{ menu_item('Pages', url_for_admin('cms_list')) }}
        {{ menu_item('Organisations', url_for_admin('org_list')) }}
        {{ menu_item('Organisation categories', url_for_admin('category_list', cat_type='org')) }}
        {{ menu_item('Resources', url_for_admin('resource_list')) }}
        {{ menu_item('Resource categories', url_for_admin('category_list', cat_type='res')) }}
        {{ menu_item('Menu Items', url_for_admin('menu_list')) }}
        {{ menu_item('Translations', url_for_admin('translation_list')) }}

    {% block user_bar %}
        {{ user_menu(show_extras=false) }}
    {% endblock %}

    </ul>
{% endblock %}
