{% extends 'body_base.html' %}

{% import '/macro/form.html' as form %}

{% block body_class %} class="admin"{% endblock %}

{% block eu_logo %}
    <div class="hidden-xs col-sm-3 col-md-3 pull-right">
        <h3>Admin Area</h3>
    </div>
{% endblock %}

{% block menu %}
    <ul class="navbar-nav nav-mega">
        {{ menu_item(_('Pages'), url_for_admin('cms_list')) }}
        {{ menu_item(_('Organisations'), url_for_admin('org_list')) }}
        {{ menu_item(_('Organisation categories'), url_for_admin('category_list', cat_type='org')) }}
        {{ menu_item(_('Resource categories'), url_for_admin('category_list', cat_type='res')) }}

    {% block user_bar %}
        {{ user_menu(show_extras=false) }}
    {% endblock %}

    </ul>
    {#
  <br>
  {% if has_perm('translator') %}
    {% if get_admin_lang() != 'en' %}
    <h1>Translations: {{ current_admin_lang() }}</h1>
    {% endif %}
    <ul class="list-inline">Translations:
    {% for code, lang, dir in lang_list() %}
      {% if code != 'en' %}
        <li><a href="?lang={{ code }}" lang="{{ code }}" dir="{{ dir }}">{{ lang }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
    #}
{% endblock %}
