{% extends 'admin/base.html' %}

{% block title %}Categories{% endblock %}

{% block content %}
  <h1>Edit: Category<br /><br /></h1>
 {{ form.translations_bar(translations) }}
  <form role="form" method="POST">
        {{ form.save(label='Save') }}
        {{ form.input('title', label='Title', value=category.title, placeholder='Title', trans=trans) }}
        {{ form.textarea('description', label='Description', value=category.description, trans=trans) }}
        {% if not trans %}
            {{ form.input('order', label='Order', value=category.order) }}
            {{ form.checkbox('active', label='Active', value=category.active, label_class='bold-checkbox-label') }}
            {{ form.checkbox('consolidate', label='Consolidate codes when all selected', value=category.consolidate, label_class='bold-checkbox-label') }}
        {% endif %}
    {{ form.save(label='Save') }}
  </form>
{% endblock %}
