{% extends 'admin/base.html' %}

{% block title %}Categories{% endblock %}

{% block content %}
  {% if lang =='en' %}
    {{ form.action('New category', url_for('category_new', cat_type=cat_type), class='btn-primary') }}
  {% endif %}
  <ul>
    {% for cat in all %}
      <li>
        {{ cat.title }}
        {% if not cat.active %}
          <span class="bg-warning">Inactive</span>
        {% endif %}
        {{ form.action_link('edit', url_for_admin('category_edit', id=cat.id, cat_type=cat_type)) }}
        {% if lang =='en' %}
          {{ form.action('New code', url_for('code_new', category_id=cat.category_id, cat_type=cat_type), class='btn-primary') }}
        {% endif %}
          {% if lang =='en' %}
            {{ form.action('Delete', url_for('category_delete', category_id=cat.category_id, cat_type=cat_type), class='btn-danger', onsubmit='return confirm("Are you sure you want to delete this category?\\n\\nThis action cannot be undone")') }}
          {% endif %}
      </li>
      <ul>
        {% for code in cat.codes %}
          <li>{{ code.title }}
            {% if not code.active %}
              <span class="bg-warning">Inactive</span>
            {% endif %}
            {{ form.action_link('edit', url_for_admin('code_edit', id=code.id, cat_type=cat_type)) }}
            {% if lang =='en' %}
              {{ form.action('Delete', url_for('code_delete', code_id=code.code, cat_type=cat_type), class='btn-danger', onsubmit='return confirm("Are you sure you want to delete this code?\\n\\nThis action cannot be undone")') }}
            {% endif %}
          </li>
        {% endfor %}

        {% for code in m_codes[cat.category_id] %}
          <li>{{ code.title }}
            {% if not code.active %}
              <span class="bg-warning">Inactive</span>
            {% endif %}
            <span class="bg-danger">Missing</span>
            {{ form.action('Create', url_for_admin('code_trans', id=code.id, cat_type=cat_type)) }}
            </li>
        {% endfor %}
      </ul>
  {% endfor %}

  {% for cat in missing_cat %}
    <li>
      {{ cat.title }}
      <span class="bg-danger">Missing</span>
      {{ form.action('Create', url_for_admin('category_trans', id=cat.id, cat_type=cat_type)) }}
    </li>
  {% endfor %}
  </ul>
  {#  {{ form.code_list(all) }} #}
{% endblock %}
