{% extends 'admin/base.html' %}

{% block title %}CMS{% endblock %}

{% block content %}
<script type="text/javascript" src="/static/ckeditor/ckeditor.js"></script>
<div>
  {{ trans.content|safe }}
<div>
    <form method="POST" role="form">
      {{ form.input('title', label='Title', value=page.title, placeholder='Title', trans=trans) }}
      {{ form.textarea('content', label='Content', value=page.content) }}
    {% if not trans %}
      {{ form.checkbox('active', label='Active', value=page.active) }}
    {% endif %}
      {{ form.submit(label='Save') }}
    </form>
 <script type="text/javascript">
     CKEDITOR.replace( 'content', {height: '400px'} );
</script>
{% endblock %}
