{% extends 'admin/base.html' %}

{% block title %}CMS{% endblock %}

{% block content %}
 {{ form.translations_bar() }}
  {% if lang =='en' %}
    <div class="well new-page col-xs-12">
<h4>{{ _('Create a new page') }}</h4>
      {{ form.action('New page', url_for('cms_new'), class='btn-primary btn-success pull-right') }}
        </div>
  {% endif %}

  {% for page in pages %}
    <div class="well col-xs-12">
        <h4>{{ page.title }} <small>{{ page.status }}</small></h4>
      {% if page.status == 'edit' %}
        {{ form.action_link('Edit', url_for_admin('cms_edit', id=page.page_id), icon='pencil') }}
      {% elif page.status == 'publish' %}
          {{ form.action('Edit', url_for_admin('cms_reedit', id=page.page_id), icon='pencil') }}
      {% elif page.status == 'approve' %}
        {{ form.action_link('Approve', url_for_admin('cms_preview', id=page.page_id)) }}
      {% elif page.status == 'approved' %}
        {{ form.action_link('Publish', url_for_admin('cms_preview', id=page.page_id)) }}
      {% endif %}
        {{ form.action_link('Preview', url_for_admin('cms_preview', id=page.page_id), icon='eye-open') }}
      {% if page.published %}
        <a class="btn btn-default btn-sm btn-secondary" role="button" href="{{ url_for_admin('cms_page', id=page.page_id) }}">Live content</a>
      {% endif %}
      {% if lang =='en' %}
        {{ form.action('Delete', url_for('cms_delete', id=page.page_id), class='btn-danger pull-right', onsubmit='return confirm("Are you sure you want to delete this page?\\n\\nThis action cannot be undone")') }}
      {% endif %}
    </div>
  {% endfor %}

  {% for page in missing %}
    <div class="alert col-xs-12 alert-danger">
        <h4>{{ page.title }} <small>Missing</small></h4>
      {{ form.action('Create', url_for_admin('cms_trans', id=page.page_id)) }}
    </div>
  {% endfor %}
{% endblock %}
