{% extends 'admin/base.html' %}

{% import '/macro/form.html' as form %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
 {{ form.translations_bar(translations) }}
      <div class="well col-xs-12" lang="en" dir="ltr">
          <h3 class="preview-title">Page preview</h3>
          <a href="{{ url_for_admin('cms_list') }}">Pages list</a>
      <div class="pull-right">
  {% if page %}
      {% if page.status == 'publish' %}
          {{ form.action('Edit', url_for_admin('cms_edit', id=page.page_id), icon='pencil') }}
      {% else %}
          {{ form.action_link('Edit', url_for_admin('cms_edit', id=page.page_id), icon='pencil') }}
      {% endif %}
      {% if page.status == 'edit' %}
          {{ form.action('Send for approval', url_for_admin('cms_state', state='approve', id=page.page_id)) }}
      {% elif page.status == 'approve' %}
          {{ form.action('Approve', url_for_admin('cms_state', state='approved', id=page.page_id)) }}
      {% elif page.status == 'approved' %}
          {{ form.action('Publish', url_for_admin('cms_state', state='publish', id=page.page_id)) }}
      {% endif %}
  {% else %}
      {{ form.action('Create', url_for_admin('cms_edit', id=page.page_id), icon='plus', class='btn-success') }}
  {% endif %}
      </div>
      </div>

  {% include '/cms_content.html' with context %}

{% endblock %}
