{% extends 'admin/base.html' %}

{% block title %}CMS{% endblock %}

{% block content %}
<h1>Edit: Page<br /><br /></h1>
 {{ form.translations_bar(translations) }}
<script type="text/javascript" src="/static/ckeditor/ckeditor.js"></script>
    <form method="POST" role="form" enctype="multipart/form-data">
        {{ form.save(label='Save') }}
        {{ form.input('title', label='Title', value=page.title, placeholder='Title', trans=trans) }}
        {{ form.ckeditor('content', label='Content', value=page.content, trans=trans) }}
        {% if not trans %}
          {{ form.info_bar('The following fields will take immediate effect when saved') }}
          {{ form.file_upload('logo', label='Image',value=page.image, thumbnail=url_for('cms_logo', id=page.page_id, type='live') + '?' + page.image, info='Max. size 600 pixels wide. Filetypes: GIF, JPEG, PNG') }}
            {{ form.input('url', label='Url', value=page.url, placeholder='Custom url') }}
            {{ form.checkbox('active', label='Active', value=page.active, label_class='bold-checkbox-label') }}
            {{ form.checkbox('private', label='Private', value=page.private, label_class='bold-checkbox-label') }}
        {% endif %}
        {{ form.save(label='Save') }}
    </form>
 <script type="text/javascript">
     CKEDITOR.config.toolbar = [
	{ name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [  'Save', 'NewPage', 'Preview', 'Print', '-', 'Templates' ] },
	{ name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
	{ name: 'editing', groups: [ 'find', 'selection' ], items: [ 'Find', 'Replace', '-', 'SelectAll'] },
	{ name: 'forms', items: [ 'Form', 'Checkbox', 'Radio', 'TextField', 'Textarea', 'Select', 'Button', 'ImageButton', 'HiddenField' ] },
	{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ] },
	{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl', 'Language' ] },
	{ name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
	{ name: 'insert', items: [ 'Table', 'HorizontalRule', 'SpecialChar' ] },
	{ name: 'styles', items: [ 'Format'] },
	{ name: 'tools', items: [ 'Source', '-','Maximize'] }
];
     CKEDITOR.replace( 'content', {height: '400px'} );
</script>
{% endblock %}
