{% extends 'admin/base.html' %}

{% block title %}Codes{% endblock %}


{% block content %}
  <h1>Edit: Codes<br /><br /></h1>
 {{ form.translations_bar(translations) }}
  <form role="form" method="POST">
    {# FIXME Needs lang and dir coding in #}
    {{ form.save(label='Save') }}
        {{ form.input('title', label='Title', value=code.title, trans=trans) }}
        {{ form.textarea('description', label='description', value=code.description, trans=trans) }}
        {% if not trans %}
            {{ form.input('order', label='Order', value=code.order) }}
            {{ form.checkbox('active', label='Active', value=code.active, label_class='bold-checkbox-label') }}
        {% endif %}
    {{ form.save(label='Save') }}
  </form>
{% endblock %}
