{% extends 'admin/base.html' %}

{% block title %}News{% endblock %}

{% block content %}
          {{ form.info_bar('news is shown under the language it is in.') }}
 {{ form.translations_bar(status, show_all=true) }}
  <div class="alert new-page col-xs-12 alert-null">
<h4>{{ 'Create a new news item' }}</h4>
<a href="{{ url_for('news_page') }}">News Listing</a>
    {{ form.action('New news', url_for_admin('news_edit'), class='btn-primary btn-success pull-right', icon='plus') }}
        </div>

  {% for news_item in news %}

    <div class="alert col-xs-12 alert-{% if news_item.status != 'publish' %}warning{% else %}null{% endif %}">
        <h4>
          {{ news_item.title }}
          {% if not news_item.active %}<span class="label label-null">Inactive</span>{% endif %}
        </h4>

        {{ form.action_link('Edit', url_for_admin('news_edit', id=news_item.id), icon='pencil') }}
        {{ form.action_link('Preview', url_for_admin('news_preview', id=news_item.id), icon='eye-open') }}
        {{ form.action('Delete', url_for('news_delete', id=news_item.id), class='btn-danger pull-right', onsubmit='return confirm("Are you sure you want to delete this news item?\\n\\nThis action cannot be undone")', icon='remove') }}

    </div>

  {% endfor %}



{% endblock %}
