{% extends 'body_base.html' %}

{% block title %}org.title{% endblock %}

{% block container_class %}org-content{% endblock %}

{% block content %}
        <h1>{{ org.name }}<br /><br /></h1>
        <div class="row">
            <!-- Organization logo block begins ============================= -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="org-logo-col blue-left-border hrd-padded-20">
                    {% if org.image %}
                    <img src="{{ url_for('org_logo', filename=org.image) }}" class="img-responsive" alt="Logo" />
                    {% else %}
                    <img src="/static/images/logo.png" class="img-responsive" alt="Logo" />
                    {% endif %}
                </div>
                <!-- /Organization logo block ends ============================= -->
                <!-- Organization contacts column begins ============================= -->
                <div class="contact-details-col blue-left-border grey-panel-bkg hrd-padded-20">
                    <h3 class=""><a href="#" title="">{{ _('Contacts') }}</a></h3>
                    <p class=""><strong>{{ _('Address of organisation') }}</strong><br />
                        <span style="white-space: pre-line">{{ org.address }}</span>
                        </p>
                    <p class=""><strong>{{ _('Contact person') }}</strong><br />
                        {{ org.contact }}
                        </p>
                    <p class=""><strong>{{ _('Telephone number') }}</strong><br />
                        {{ org.phone }}
                        </p>
                    <p class=""><strong>{{ _('E-mail address') }}</strong><br />
                        {{ org.email }}
                        </p>
                    <p class="" style="word-wrap: break-word;"><strong>{{ _('PGP key') }}</strong><br />
                        {{ org.pgp_key }}
                        </p>
                    <p class=""><strong>{{ _('Website and log of the organisation') }}</strong><br />
                        {{ org.website }}
                        </p>
                </div>
                <!-- /Organization contacts column ends ============================= -->
            </div>
            <!-- Organization description column begins ============================= -->
            <div class="org-description-col col-xs-12 col-sm-6 col-md-4">
                <h2>{{ _('Description') }}<br /><br /></h2>
                <span style="white-space: pre-line">{{ org.description }}</span>
            </div>
            <!-- /Organization description column ends ============================= -->
            <!-- Organization detail column begins ============================= -->
            <div class="org-detail-col col-xs-12 col-sm-6 col-md-4">
                <h2>{{ _('Detail') }}<br /><br /></h2>
                {% for cat, codes in cat_codes %}
                  <p><strong>{{ cat }}</strong><br />
                  {{ codes }}</p>
                {% endfor %}
            </div>
            <!-- /Organization detail column ends ============================= -->
        </div> <!-- /row -->
<!-- /Organization content body ends ===================================== -->
{% endblock %}
