{% extends 'admin/base.html' %}

{% import '/macro/form.html' as form %}

{% block name %}{{ org.title }}{% endblock %}

{% block content %}
 {{ form.translations_bar(translations) }}
      <div class="well col-xs-12">
          <h3 class="preview-title">Organisation preview</h3>
          <a href="{{ url_for_admin('org_list') }}">Organisation list</a>
      <div class="pull-right">
      {% if org.status == 'publish' %}
          {{ form.action('Edit', url_for_admin('org_reedit', id=org.org_id), icon='pencil') }}
      {% else %}
          {{ form.action_link('Edit', url_for_admin('org_edit', id=org.org_id), icon='pencil') }}
      {% endif %}
      {% if org.status == 'edit' %}
          {{ form.action('Send for approval', url_for_admin('org_state', state='approve', id=org.org_id)) }}
      {% elif org.status == 'approve' %}
          {{ form.action('Approve', url_for_admin('org_state', state='approved', id=org.org_id)) }}
      {% elif org.status == 'approved' %}
          {{ form.action('Publish', url_for_admin('org_state', state='publish', id=org.org_id)) }}
      {% endif %}
      </div>
      </div>

        <h1>{{ org.name }}<br /><br /></h1>
        <div class="row">
            <!-- Organization logo block begins ============================= -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="org-logo-col blue-left-border hrd-padded-20">
                    {% if org.image %}
                    <img src="{{ url_for('org_logo', filename=org.image) }}" class="img-responsive" alt="Logo" />
                    {% else %}
                    <img src="/static/images/logo.png" class="img-responsive" alt="Logo" />
                    {% endif %}
                </div>
                <!-- /Organization logo block ends ============================= -->
                <!-- Organization contacts column begins ============================= -->
                <div class="contact-details-col blue-left-border grey-panel-bkg hrd-padded-20">
                    <h3 class=""><a href="#" title="">{{ _('Contacts') }}</a></h3>
                    <p class=""><strong>{{ _('Address of organisation') }}</strong><br />
                        <span style="white-space: pre-line">{{ org.address }}</span>
                        </p>
                    <p class=""><strong>{{ _('Contact person') }}</strong><br />
                        {{ org.contact }}
                        </p>
                    <p class=""><strong>{{ _('Telephone number') }}</strong><br />
                        {{ org.phone }}
                        </p>
                    <p class=""><strong>{{ _('E-mail address') }}</strong><br />
                        {{ org.email }}
                        </p>
                    <p class="" style="word-wrap: break-word;"><strong>{{ _('PGP key') }}</strong><br />
                        {{ org.pgp_key }}
                        </p>
                    <p class=""><strong>{{ _('Website and log of the organisation') }}</strong><br />
                        {{ org.website }}
                        </p>
                </div>
                <!-- /Organization contacts column ends ============================= -->
            </div>
            <!-- Organization description column begins ============================= -->
            <div class="org-description-col col-xs-12 col-sm-6 col-md-4">
                <h2>{{ _('Description') }}<br /><br /></h2>
                <span style="white-space: pre-line">{{ org.description }}</span>
            </div>
            <!-- /Organization description column ends ============================= -->
            <!-- Organization detail column begins ============================= -->
            <div class="org-detail-col col-xs-12 col-sm-6 col-md-4">
                <h2>{{ _('Detail') }}<br /><br /></h2>
                {% for cat, codes in cat_codes %}
                  <p><strong>{{ cat }}</strong><br />
                  {{ codes }}</p>
                {% endfor %}
            </div>
            <!-- /Organization detail column ends ============================= -->
        </div> <!-- /row -->

{% endblock %}
