{% extends 'admin/base.html' %}

{% block title %}Organisations{% endblock %}

{% block content %}
 {{ form.translations_bar(status) }}
 {% if not content_trans(lang) %}
 <h3>Select a language</h3>
 {% else %}
  {% if lang =='en' %}
  <div class="alert new-page col-xs-12 alert-null">
<h4>{{ 'Create a new organisation' }}</h4>
    {{ form.action('New organisation', url_for('org_new'), class='btn-primary btn-success pull-right', icon='plus') }}
        </div>
  {% endif %}

  {% for org in orgs %}

    <div class="alert col-xs-12 alert-{% if org.status != 'publish' %}warning{% else %}null{% endif %}">
        <h4>
          {{ org.name }}
          <span class="label label-default">{{ cms_state_nice_name(org.status) }}</span>
          {% if not org.active %}<span class="label label-null">Inactive</span>{% endif %}
          {% if org.private %}<span class="label label-null">Private</span>{% endif %}
        </h4>

        {{ form.action_link('Edit', url_for_admin('org_edit', id=org.org_id), icon='pencil') }}
        {{ form.action_link('Preview', url_for_admin('org_preview', id=org.org_id), icon='eye-open') }}
      {% if org.published %}
        {{ form.action_link('Live content', url_for_admin('org', id=org.org_id), icon='flash', class='btn-secondary') }}
      {% endif %}
      {% if lang =='en' %}
        {{ form.action('Delete', url_for('org_delete', id=org.org_id), class='btn-danger pull-right', onsubmit='return confirm("Are you sure you want to delete this organisation?\\n\\nThis action cannot be undone")', icon='remove') }}
      {% endif %}

    </div>

  {% endfor %}



{% for org in missing %}
<div class="alert col-xs-12 alert-danger">
    <h4>{{ org.name|truncate(75) }}
        <span class="label label-null">Missing</span>
    </h4>
    {{ form.action('Create', url_for_admin('org_edit', id=org.org_id), class='btn-success', icon='plus') }}
</div>
{% endfor %}
{% endif %}
{% endblock %}
