{% extends 'admin/base.html' %}

{% import '/macro/form.html' as form %}

{% block name %}{{ org.title }}{% endblock %}

{% block content %}
 {{ form.translations_bar(translations) }}
      <div class="well col-xs-12">
          <h3 class="preview-title">Organisation preview</h3>
          <a href="{{ url_for_admin('org_list') }}">Organisation list</a>
      <div class="pull-right">
      {% if org.status == 'publish' %}
          {{ form.action('Edit', url_for_admin('org_reedit', id=org.org_id), icon='pencil') }}
      {% else %}
          {{ form.action_link('Edit', url_for_admin('org_edit', id=org.org_id), icon='pencil') }}
      {% endif %}
      {% if org.status == 'edit' %}
          {{ form.action('Send for approval', url_for_admin('org_state', state='approve', id=org.org_id)) }}
      {% elif org.status == 'approve' %}
          {{ form.action('Approve', url_for_admin('org_state', state='approved', id=org.org_id)) }}
      {% elif org.status == 'approved' %}
          {{ form.action('Publish', url_for_admin('org_state', state='publish', id=org.org_id)) }}
      {% endif %}
      </div>
      </div>

  {% include '/org_content.html' with context %}
{% endblock %}
