{% extends 'admin/base.html' %}

{% block title %}Organization{% endblock %}

{% block content %}
    <h1>Edit: Organization<br /><br /></h1>
 {{ form.translations_bar(translations) }}
    <form method="POST" role="form">
          {{ form.save(label='Save ') }}
    {# FIXME Needs lang and dir coding in #}
          {{ form.input('name', label='Name', value=org.name, trans=trans) }}
          {# FIXME Add rows attribute to textareas eg. <textarea rows="10"></textarea> #}
          {# FIXME make description textarea 10 rows #}
      {{ form.textarea('description', label='Description', value=org.description, trans=trans) }}
    {% if not trans %}
          {# FIXME make address textarea 5 rows #}
      {{ form.textarea('address', label='Address', value=org.address, trans=trans) }}
      {{ form.input('contact', label='Contact', value=org.contact, trans=trans) }}
      {{ form.input('phone', label='Phone', value=org.phone, trans=trans) }}
      {{ form.input('email', label='Email', value=org.email, trans=trans) }}
          {# FIXME make PGP key textarea 5 rows #}
      {{ form.textarea('pgp_key', label='Pgp key', value=org.pgp_key, trans=trans) }}
      {{ form.input('website', label='Website', value=org.website, trans=trans) }}

      {{ form.checkbox('active', label='Active', value=org.active) }}
      {% for cat in codes if cat.active %}
        <h3>{{ cat.title }}</h3>
        {% for code in cat.codes if code.active %}
          {{ form.checkbox(code.code, label=code.title, value=code.code in current) }}
        {% endfor %}
      {% endfor %}
          {% endif %}
        {# FIXME Insert button classes: btn btn-primary pull-right #}
          {{ form.save(label='Save ') }}
    </form>
  {{ form.code_list(all) }}
{% endblock %}
