{% extends 'admin/base.html' %}

{% block title %}Organization{% endblock %}

{% block content %}

<script>
    function select_all(that){
        $(that).parent().next('div').find(':checkbox').prop('checked', true);
    }

    function clear_all(that){
        $(that).parent().next('div').find(':checkbox').prop('checked', false);
    }
</script>
    <h1>Edit: Organization<br /><br /></h1>
 {{ form.translations_bar(translations) }}
    <form method="POST" role="form" enctype="multipart/form-data">
          {{ form.save(label='Save ') }}
    {# FIXME Needs lang and dir coding in #}
          {{ form.input('name', label='Name', value=org.name, trans=trans) }}
          {# FIXME Add rows attribute to textareas eg. <textarea rows="10"></textarea> #}
          {# FIXME make description textarea 10 rows #}
      {{ form.textarea('description', label='Description', value=org.description, trans=trans, rows=10) }}
    {% if not trans %}
      {% call form.form_control(name='logo', label='Logo', trans=trans) -%}
        <input type="file" name="logo"/>
      {% endcall %}
          {# FIXME make address textarea 5 rows #}
      {{ form.textarea('address', label='Address', value=org.address, trans=trans) }}
      {{ form.input('contact', label='Contact', value=org.contact, trans=trans) }}
      {{ form.input('phone', label='Phone', value=org.phone, trans=trans) }}
      {{ form.input('email', label='Email', value=org.email, trans=trans) }}
          {# FIXME make PGP key textarea 5 rows #}
      {{ form.textarea('pgp_key', label='Pgp key', value=org.pgp_key, trans=trans, rows=7) }}
      {{ form.input('website', label='Website', value=org.website, trans=trans) }}

      {{ form.checkbox('active', label='Active', value=org.active) }}
      {% for cat in codes if cat.active %}
         <details class="col-xs-12 org-choose-list" open="open"> <summary class="h3">{{ cat.title }}</summary>
         <div><a onclick="select_all(this)">select all</a> | <a onclick="clear_all(this)">clear all</a></div>
         <div>
        {% for code in cat.codes if code.active %}
        <div class="checkbox"> <label> <input value="True" type="checkbox" name="code.code">{{ code.title }}</label> </div>
        {% endfor %}
    </div>
        </details>
      {% endfor %}
          {% endif %}
        {# FIXME Insert button classes: btn btn-primary pull-right #}
          {{ form.save(label='Save ') }}
    </form>
  {{ form.code_list(all) }}
{% endblock %}
